/* =========================================
   1. VARIABLES Y BASES
   ========================================= */
:root { 
   --fuente-titulo: 'Red Rose', sans-serif; 
   --fuente-texto: 'arial', sans-serif;
   --color-titulo: #fff;
   --color-texto: #939597;
   --fondo: #171718;
   --verde: #00bb77; 
   --azul: #0677d6;
   --rojo: #f11000;  
}

body {
   margin: 0;
   padding: 0;
   background-color: var(--fondo);
}

body h1, h2, h3 {
   font-family: var(--fuente-titulo);
   color: var(--color-titulo);
}

body p, a {
   font-family: var(--fuente-texto);
   color: var(--color-texto);
   text-decoration: none;
}

/* =========================================
   2. Header y footer
   ========================================= */

.main-header {
   border-bottom: 3px solid;
   border-image: linear-gradient(to right, var(--azul), var(--rojo)) 1;
   padding: 0.5em 1em;
}

.main-header::after {
   content: "";
   display: table;
   clear: both;
}

.main-header .site-identity {
   float: left;
}

.main-header .site-identity h1 {
   font-size: 1.5em;
   margin: .6em 0;
   display: inline-block;
}

.main-header .site-identity img {
   max-width: 55px; 
   float: left;
   margin-right: 5px;
}

.main-header .site-navigation {
   float: right;
}

.main-header .site-navigation ul, li {
   margin: 0; 
   padding: 0;
}

.main-header .site-navigation li {
   display: inline-block;
   margin: 1.4em 1em 1em 1em;
}