body {
    margin: 0;
}

header, .header, .header ul {
    display: flex;
}

header {
    width: 100%;
    background: linear-gradient(to right, #0a77d6, #f11000);
    align-items: center;
    padding: 20px 50px 20px 100px;
    gap: 30px;
    box-sizing: border-box;
    justify-content: space-between;
}

header > div:first-child {
    border-right: 2px solid rgba(0, 0, 0, 0.4);
    padding-right: 30px;
}

.logo {
    width: 120px;
    height: auto;
}

.header {
    flex-direction: column;
    margin-right: auto;
}

h1, .header ul li a {
    color: #fff;
    font-family: 'redrose', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

header > div:last-child h1 {
    font-size: 40px;
}

.header ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    gap: 15px;
}

.header ul li a {
    text-decoration: none;
    display: inline-block;
    padding: 5px 12px;
    border: 2px solid transparent;
    transition: all 0.3s ease;
    border-radius: 5px;
}

.header ul li a:hover {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
    border-color: #fff;
    background: rgba(255, 255, 255, 0.1);
}