body {
    margin: 0;
}

header, .header, .header ul {
    display: flex;
}

header {
    width: 100%;
    background: linear-gradient(to right, #0a77d6, #f11000);
    align-items: center;
    padding: 20px 50px 20px 100px;
    gap: 30px;
    box-sizing: border-box;
    justify-content: space-between;
}

header > div:first-child {
    border-right: 2px solid rgba(0, 0, 0, 0.4);
    padding-right: 30px;
}

.logo {
    width: 120px;
    height: auto;
}

.header {
    flex-direction: column;
    margin-right: auto;
}

h1, .header ul li a {
    color: #fff;
    font-family: 'redrose', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

header > div:last-child h1 {
    font-size: 40px;
}

.header ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    gap: 15px;
}

.header ul li a {
    text-decoration: none;
    display: inline-block;
    padding: 5px 12px;
    border: 2px solid transparent;
    transition: all 0.3s ease;
    border-radius: 5px;
}

.header ul li a:hover {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
    border-color: #fff;
    background: rgba(255, 255, 255, 0.1);
}

main h1, h2, h3 {
    font-family: 'redrose', sans-serif;
    color: #000;
}

main p {
    font-family: 'arial', sans-serif;
    color: #000;
    line-height: 1.5;
    text-align: justify;
}

.noticias {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    align-items: flex-start;
}

.noticias h2 {
    width: 100%;
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 15px;
}

.noticias h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 4px;
    background-color: #00bb77;
    border-radius: 2px;
}

.noticias > div {
    display: flex;
    flex-direction: column;
    width: 500px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    cursor: pointer;
    height: auto;
}

.noticias h3 {
    margin: 0 0 10px 0;
    font-size: 22px;
}

.noticias p {
    margin: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease, margin 0.5s ease;
}

.noticias img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}

.noticias div:hover p {
    max-height: 500px;
    opacity: 1;
    margin-bottom: 15px;
    margin-top: 10px;
}

.noticias div:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(5px);
}